# Label encoding and Ordinal Encoding

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv(r"E:\\ML\\ML\\Data Preprocessing And Feature Engineering\\train.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
df2 = df[["KitchenQual","BldgType"]]

In [6]:
le = LabelEncoder()

In [7]:
le.fit_transform(df2["BldgType"])

array([0, 0, 0, ..., 0, 0, 0])

In [9]:
df2["BldgType"] = le.fit_transform(df2["BldgType"])
df2

C:\Users\hp\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

     KitchenQual  BldgType
0             Gd         0
1             TA         0
2             Gd         0
3             Gd         0
4             Gd         0
...          ...       ...
1455          TA         0
1456          TA         0
1457          Gd         0
1458          Gd         0
1459          TA         0

[1460 rows x 2 columns]

In [10]:
df["BldgType"].value_counts()

1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: BldgType, dtype: int64

In [11]:
df["KitchenQual"].value_counts()

TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64

In [13]:
order_Lable = {"Ex":4,"Gd":3,"TA":2,"Fa":1}

In [14]:
df2["KitchenQual"].map(order_Lable).value_counts()

2    735
3    586
4    100
1     39
Name: KitchenQual, dtype: int64