# What is pandas Append Fuction  ?

Pandas append fuction is used to append rows of other dataframe to the end of the given dataframe,
return a new dtaframe object.

Syntax: Dataframe.join()

Parameters:

            other

            ignore_index
 
            sort

# Pandas Join

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({"A":[1,2,3],
                    "B" :[10,20,30]})
df2 = pd.DataFrame({"A":[4,5,6],
                    "B" :[40,50,60]})
display(df1,df2)

   A   B
0  1  10
1  2  20
2  3  30

   A   B
0  4  40
1  5  50
2  6  60

In [6]:
df1.append(df2)

   A   B
0  1  10
1  2  20
2  3  30
0  4  40
1  5  50
2  6  60

In [8]:
df1.append(df2, ignore_index=True) # To correct the index

   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50
5  6  60