# Pandas DatetimeIndex Functionality

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("E:\ML\ML\Pandas\Vc_Statup_1.csv")
df

          Date  R&D Spend  Marketing Spend  Profit
0   01-07-2019     125349            13687  192261
1   02-07-2019     122848           151377  192261
2   03-07-2019     153441           327468  192261
3   04-07-2019     144372            63338  192261
4   05-07-2019     142107            91391  192261
5   06-07-2019     131876            99814  192261
6   07-07-2019     134615           147198  192261
7   08-07-2019     130298           145530  192261
8   09-07-2019     134615             1471  192261
9   10-07-2019     130298           145530  192261
10  11-07-2019     120542           148718  192261
11  12-07-2019     123334           108679  192261

In [4]:
df.dtypes # to check thhe data type of all the row

Date               object
R&D Spend           int64
Marketing Spend     int64
Profit              int64
dtype: object

In [5]:
type(df.Date[0])#To see the data type of date columns

str

In [6]:
df = pd.read_csv("E:\ML\ML\Pandas\Vc_Statup_1.csv",parse_dates=["Date"]) # to change the data type of Date coloums
df

         Date  R&D Spend  Marketing Spend  Profit
0  2019-01-07     125349            13687  192261
1  2019-02-07     122848           151377  192261
2  2019-03-07     153441           327468  192261
3  2019-04-07     144372            63338  192261
4  2019-05-07     142107            91391  192261
5  2019-06-07     131876            99814  192261
6  2019-07-07     134615           147198  192261
7  2019-08-07     130298           145530  192261
8  2019-09-07     134615             1471  192261
9  2019-10-07     130298           145530  192261
10 2019-11-07     120542           148718  192261
11 2019-12-07     123334           108679  192261

In [7]:
df.dtypes

Date               datetime64[ns]
R&D Spend                   int64
Marketing Spend             int64
Profit                      int64
dtype: object