# Pandas groupby Function?

Pandas groupby fuction is used to split the data into group based on some criteria

Syntax : Dataframe.groupby()

any groupby operation involes one of the folling operations on the original object:

-splitting the object,
-Applying a function,
-Combining the result

# groupby()

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\student_result.csv")
df

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       2          50
1        1002       B     10          6                       2          60
2        1003       A     10          3                       2          60
3        1004       C     11          0                       1          45
4        1005       C     12          5                       2          75

In [6]:
gp1 = df.groupby( by = "Section") # it will show which type it will return It says                                                             DataFramegroup by object
gp1

In [7]:
gp1.groups

{'A': [0, 2], 'B': [1], 'C': [3, 4]}

In [9]:
df.groupby(["Section", "Class"]).groups

{('A', 10): [0, 2], ('B', 10): [1], ('C', 11): [3], ('C', 12): [4]}

In [12]:
for Section, df_1 in gp1: # It will show the table in group by fuction 
    print(Section)          #->It will have Section as A B C
    print(df_1)

A
   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       2          50
2        1003       A     10          3                       2          60
B
   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
1        1002       B     10          6                       2          60
C
   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
3        1004       C     11          0                       1          45
4        1005       C     12          5                       2          75

In [13]:
list(gp1)  # IT will convert it in to list

[('A',
     Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
  0        1001       A     10          2                       2          50
  2        1003       A     10          3                       2          60),
 ('B',
     Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
  1        1002       B     10          6                       2          60),
 ('C',
     Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
  3        1004       C     11          0                       1          45
  4        1005       C     12          5                       2          75)]

In [16]:
dict(list(gp1)) # It will show it as dict

{'A':    Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
 0        1001       A     10          2                       2          50
 2        1003       A     10          3                       2          60,
 'B':    Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
 1        1002       B     10          6                       2          60,
 'C':    Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
 3        1004       C     11          0                       1          45
 4        1005       C     12          5                       2          75}

In [18]:
gr3 = df.groupby("Class").get_group(10) #To select one group we have to use get_group
gr3                                         # we will do group according to the class
                                                # we have to give one value of class section

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       2          50
1        1002       B     10          6                       2          60
2        1003       A     10          3                       2          60

In [20]:
gr3 = df.groupby("Section").get_group("A")
gr3

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       2          50
2        1003       A     10          3                       2          60

# Appling function to a group

In [24]:
gp1.sum() # It will add the function which have same section

         Student ID  Class  Study hrs  Social Media usage hrs  Percentage
Section
A              2004     20          5                       4         110
B              1002     10          6                       2          60
C              2009     23          5                       3         120

In [25]:
gp1.mean()

         Student ID  Class  Study hrs  Social Media usage hrs  Percentage
Section
A            1002.0   10.0        2.5                     2.0        55.0
B            1002.0   10.0        6.0                     2.0        60.0
C            1004.5   11.5        2.5                     1.5        60.0

In [26]:
gp1.describe()

        Student ID                                                      \
             count    mean       std     min      25%     50%      75%
Section
A              2.0  1002.0  1.414214  1001.0  1001.50  1002.0  1002.50
B              1.0  1002.0       NaN  1002.0  1002.00  1002.0  1002.00
C              2.0  1004.5  0.707107  1004.0  1004.25  1004.5  1004.75

                Class        ... Social Media usage hrs      Percentage        \
            max count  mean  ...                    75%  max      count  mean
Section                      ...
A        1003.0   2.0  10.0  ...                   2.00  2.0        2.0  55.0
B        1002.0   1.0  10.0  ...                   2.00  2.0        1.0  60.0
C        1005.0   2.0  11.5  ...                   1.75  2.0        2.0  60.0


               std   min   25%   50%   75%   max
Section
A         7.071068  50.0  52.5  55.0  57.5  60.0
B              NaN  60.0  60.0  60.0  60.0  60.0
C        21.213203  45.0  52.5  60.0  67.5  75.0

[3 rows x 40 columns]

In [27]:
gp1.agg(["sum" , "max" , "min"]) # we can use multiple function

        Student ID             Class         Study hrs          \
               sum   max   min   sum max min       sum max min
Section
A             2004  1003  1001    20  10  10         5   3   2
B             1002  1002  1002    10  10  10         6   6   6
C             2009  1005  1004    23  12  11         5   5   0

        Social Media usage hrs         Percentage
                           sum max min        sum max min
Section
A                            4   2   2        110  60  50
B                            2   2   2         60  60  60
C                            3   2   1        120  75  45