# Handling Missing Values #3

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv")
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90,49,19,57.0,19,21,81.0,75,44,22.0,74
1,Italy,82,10,2,55.0,3,2,67.0,71,9,80.0,94
2,France,88,42,4,76.0,11,23,87.0,84,40,88.0,36
3,Holland,96,62,32,NaN,43,7,83.0,89,61,NaN,13
4,Belgium,94,38,11,NaN,23,9,76.0,76,42,NaN,83
5,Luxembourg,97,61,28,NaN,12,7,85.0,94,83,91.0,84
6,England,27,86,22,91.0,76,17,76.0,68,89,11.0,57
7,Portugal,72,26,2,22.0,1,17,NaN,51,8,54.0,57
8,Austria,55,31,8,29.0,12,17,NaN,42,14,51.0,57
9,Switzerland,73,72,25,31.0,12,11,NaN,70,46,64.0,57
10,Sweden,97,13,31,9.0,43,11,NaN,78,53,9.0,48
11,Denmark,96,17,35,66.0,17,11,81.0,72,50,11.0,30
12,Norway,92,17,13,62.0,4,17,61.0,72,34,11.0,28
13,Finland,98,12,20,64.0,10,8,50.0,57,22,15.0,17
14,Spain,70,40,3,62.0,2,14,59.0,77,30,80.0,91
15,Ireland,30,52,11,80.0,18,2,57.0,52,46,5.0,31

In [7]:
df.dropna() # It will drope all NAN values

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90,49,19,57.0,19,21,81.0,75,44,22.0,74
1,Italy,82,10,2,55.0,3,2,67.0,71,9,80.0,94
2,France,88,42,4,76.0,11,23,87.0,84,40,88.0,36
6,England,27,86,22,91.0,76,17,76.0,68,89,11.0,57
11,Denmark,96,17,35,66.0,17,11,81.0,72,50,11.0,30
12,Norway,92,17,13,62.0,4,17,61.0,72,34,11.0,28
13,Finland,98,12,20,64.0,10,8,50.0,57,22,15.0,17
14,Spain,70,40,3,62.0,2,14,59.0,77,30,80.0,91
15,Ireland,30,52,11,80.0,18,2,57.0,52,46,5.0,31

In [9]:
df.dropna(axis=1) # it will drop all the colomns where "NAN" values will be there

,Country,Real coffee,Instant coffee,Sweetener,Tin soup,Potatoes,Oranges,Tinned fruit,Olive oil
0,Germany,90,49,19,19,21,75,44,74
1,Italy,82,10,2,3,2,71,9,94
2,France,88,42,4,11,23,84,40,36
3,Holland,96,62,32,43,7,89,61,13
4,Belgium,94,38,11,23,9,76,42,83
5,Luxembourg,97,61,28,12,7,94,83,84
6,England,27,86,22,76,17,68,89,57
7,Portugal,72,26,2,1,17,51,8,57
8,Austria,55,31,8,12,17,42,14,57
9,Switzerland,73,72,25,12,11,70,46,57
10,Sweden,97,13,31,43,11,78,53,48
11,Denmark,96,17,35,17,11,72,50,30
12,Norway,92,17,13,4,17,72,34,28
13,Finland,98,12,20,10,8,57,22,17
14,Spain,70,40,3,2,14,77,30,91
15,Ireland,30,52,11,18,2,52,46,31

In [12]:
df.dropna(how="any") # ROW It will drop all the ROW where there null values

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90,49,19,57.0,19,21,81.0,75,44,22.0,74
1,Italy,82,10,2,55.0,3,2,67.0,71,9,80.0,94
2,France,88,42,4,76.0,11,23,87.0,84,40,88.0,36
6,England,27,86,22,91.0,76,17,76.0,68,89,11.0,57
11,Denmark,96,17,35,66.0,17,11,81.0,72,50,11.0,30
12,Norway,92,17,13,62.0,4,17,61.0,72,34,11.0,28
13,Finland,98,12,20,64.0,10,8,50.0,57,22,15.0,17
14,Spain,70,40,3,62.0,2,14,59.0,77,30,80.0,91
15,Ireland,30,52,11,80.0,18,2,57.0,52,46,5.0,31

In [17]:
df.dropna(axis = 1 , how="any") # It will drop NULL coloums

,Country,Real coffee,Instant coffee,Sweetener,Tin soup,Potatoes,Oranges,Tinned fruit,Olive oil
0,Germany,90,49,19,19,21,75,44,74
1,Italy,82,10,2,3,2,71,9,94
2,France,88,42,4,11,23,84,40,36
3,Holland,96,62,32,43,7,89,61,13
4,Belgium,94,38,11,23,9,76,42,83
5,Luxembourg,97,61,28,12,7,94,83,84
6,England,27,86,22,76,17,68,89,57
7,Portugal,72,26,2,1,17,51,8,57
8,Austria,55,31,8,12,17,42,14,57
9,Switzerland,73,72,25,12,11,70,46,57
10,Sweden,97,13,31,43,11,78,53,48
11,Denmark,96,17,35,17,11,72,50,30
12,Norway,92,17,13,4,17,72,34,28
13,Finland,98,12,20,10,8,57,22,17
14,Spain,70,40,3,2,14,77,30,91
15,Ireland,30,52,11,18,2,52,46,31

In [18]:
df.dropna(how="all")

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90,49,19,57.0,19,21,81.0,75,44,22.0,74
1,Italy,82,10,2,55.0,3,2,67.0,71,9,80.0,94
2,France,88,42,4,76.0,11,23,87.0,84,40,88.0,36
3,Holland,96,62,32,NaN,43,7,83.0,89,61,NaN,13
4,Belgium,94,38,11,NaN,23,9,76.0,76,42,NaN,83
5,Luxembourg,97,61,28,NaN,12,7,85.0,94,83,91.0,84
6,England,27,86,22,91.0,76,17,76.0,68,89,11.0,57
7,Portugal,72,26,2,22.0,1,17,NaN,51,8,54.0,57
8,Austria,55,31,8,29.0,12,17,NaN,42,14,51.0,57
9,Switzerland,73,72,25,31.0,12,11,NaN,70,46,64.0,57
10,Sweden,97,13,31,9.0,43,11,NaN,78,53,9.0,48
11,Denmark,96,17,35,66.0,17,11,81.0,72,50,11.0,30
12,Norway,92,17,13,62.0,4,17,61.0,72,34,11.0,28
13,Finland,98,12,20,64.0,10,8,50.0,57,22,15.0,17
14,Spain,70,40,3,62.0,2,14,59.0,77,30,80.0,91
15,Ireland,30,52,11,80.0,18,2,57.0,52,46,5.0,31

In [23]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv")
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.dropna(how= "all") # It will drop 15 row as it has all NaN values

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0

In [27]:
df.dropna(thresh=1 ) # It will print all which have atlist 1 not null values

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0

In [30]:
df.dropna(thresh= 10) # 10 not null values should the present

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0

In [31]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv")
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df.dropna(subset=["Country"])# It will drop the row  in the coloum "Country" where null value will be present

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0