# Handling Missing Values #3

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv")
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.dropna() # It will drope all NAN values

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0

In [7]:
df.dropna(axis=1) # it will drop all the colomns where "NAN" values will be there

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [8]:
df.dropna(how="any") # ROW It will drop all the ROW where there null values

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0

In [9]:
df.dropna(axis = 1 , how="any") # It will drop NULL coloums

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [10]:
df.dropna(how="all")

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0

In [11]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv")
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.dropna(how= "all") # It will drop 15 row as it has all NaN values

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0

In [13]:
df.dropna(thresh=1 ) # It will print all which have atlist 1 not null values

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0

In [14]:
df.dropna(thresh= 10) # 10 not null values should the present

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0

In [15]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv")
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.dropna(subset=["Country"])# It will drop the row  in the coloum "Country" where null value will be present

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0

In [20]:
df.dropna(inplace= True) # IT will show where all not null values is present
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0