# Handling Missing Values

In [2]:
import pandas as pd

In [10]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv")
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90,49,19.0,57.0,19.0,21.0,81,75,44,22.0,74
1,Italy,82,10,2.0,55.0,3.0,2.0,67,71,9,80.0,94
2,France,88,42,4.0,76.0,11.0,23.0,87,84,40,88.0,36
3,Holland,96,62,32.0,62.0,43.0,7.0,83,89,61,15.0,13
4,Belgium,94,38,11.0,74.0,23.0,9.0,76,76,42,29.0,83
5,Luxembourg,97,61,28.0,79.0,12.0,7.0,85,94,83,91.0,84
6,England,27,86,22.0,91.0,76.0,17.0,76,68,89,11.0,57
7,Portugal,72,26,2.0,22.0,1.0,NaN,22,51,8,NaN,Not available
8,Austria,55,31,15.0,29.0,NaN,NaN,49,42,14,51.0,Not available
9,Switzerland,73,72,25.0,31.0,10.0,NaN,79,70,46,64.0,Not available
10,Sweden,97,13,31.0,NaN,43.0,NaN,56,78,53,9.0,48
11,Denmark,96,17,35.0,66.0,17.0,11.0,81,72,50,11.0,30
12,Norway,92,17,13.0,62.0,4.0,17.0,61,72,34,11.0,28
13,Finland,98,12,20.0,64.0,10.0,8.0,50,57,22,15.0,17
14,Spain,70,40,NaN,62.0,2.0,14.0,59,77,30,86.0,91
15,Ireland,30,52,11.0,80.0,18.0,2.0,57,52,46,5.0,31

In [11]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv", na_values="Not available") 
df                                                          # It will handel "Not available" value to NaN

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90,49,19.0,57.0,19.0,21.0,81,75,44,22.0,74.0
1,Italy,82,10,2.0,55.0,3.0,2.0,67,71,9,80.0,94.0
2,France,88,42,4.0,76.0,11.0,23.0,87,84,40,88.0,36.0
3,Holland,96,62,32.0,62.0,43.0,7.0,83,89,61,15.0,13.0
4,Belgium,94,38,11.0,74.0,23.0,9.0,76,76,42,29.0,83.0
5,Luxembourg,97,61,28.0,79.0,12.0,7.0,85,94,83,91.0,84.0
6,England,27,86,22.0,91.0,76.0,17.0,76,68,89,11.0,57.0
7,Portugal,72,26,2.0,22.0,1.0,NaN,22,51,8,NaN,NaN
8,Austria,55,31,15.0,29.0,NaN,NaN,49,42,14,51.0,NaN
9,Switzerland,73,72,25.0,31.0,10.0,NaN,79,70,46,64.0,NaN
10,Sweden,97,13,31.0,NaN,43.0,NaN,56,78,53,9.0,48.0
11,Denmark,96,17,35.0,66.0,17.0,11.0,81,72,50,11.0,30.0
12,Norway,92,17,13.0,62.0,4.0,17.0,61,72,34,11.0,28.0
13,Finland,98,12,20.0,64.0,10.0,8.0,50,57,22,15.0,17.0
14,Spain,70,40,NaN,62.0,2.0,14.0,59,77,30,86.0,91.0
15,Ireland,30,52,11.0,80.0,18.0,2.0,57,52,46,5.0,31.0

In [14]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv") 
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90,49,19,57.0,19.0,21.0,81,75,44,22.0,74
1,Italy,82,10,2,55.0,3.0,2.0,67,71,9,80.0,94
2,France,88,42,4,76.0,11.0,23.0,87,84,40,88.0,36
3,Holland,96,62,32,62.0,43.0,7.0,83,89,61,15.0,13
4,Belgium,94,38,11,74.0,23.0,9.0,76,76,42,29.0,83
5,Luxembourg,97,61,28,79.0,12.0,7.0,85,94,83,91.0,84
6,England,27,86,22,91.0,76.0,17.0,76,68,89,11.0,57
7,Portugal,72,26,2,22.0,1.0,NaN,22,51,8,NaN,Not available
8,Austria,55,31,no value,29.0,NaN,NaN,49,42,14,51.0,Not available
9,Switzerland,73,72,25,31.0,10.0,NaN,79,70,46,64.0,Not available
10,Sweden,97,13,31,NaN,43.0,NaN,56,78,53,9.0,48
11,Denmark,96,17,35,66.0,17.0,11.0,81,72,50,11.0,30
12,Norway,92,17,13,62.0,4.0,17.0,61,72,34,11.0,28
13,Finland,98,12,20,64.0,10.0,8.0,50,57,22,15.0,17
14,Spain,70,40,NaN,62.0,2.0,14.0,59,77,30,86.0,91
15,Ireland,30,52,11,80.0,18.0,2.0,57,52,46,5.0,31

In [15]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv", na_values=["Not available","no value"]) 
df                                                   # It will handel more than NaN values

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90,49,19.0,57.0,19.0,21.0,81,75,44,22.0,74.0
1,Italy,82,10,2.0,55.0,3.0,2.0,67,71,9,80.0,94.0
2,France,88,42,4.0,76.0,11.0,23.0,87,84,40,88.0,36.0
3,Holland,96,62,32.0,62.0,43.0,7.0,83,89,61,15.0,13.0
4,Belgium,94,38,11.0,74.0,23.0,9.0,76,76,42,29.0,83.0
5,Luxembourg,97,61,28.0,79.0,12.0,7.0,85,94,83,91.0,84.0
6,England,27,86,22.0,91.0,76.0,17.0,76,68,89,11.0,57.0
7,Portugal,72,26,2.0,22.0,1.0,NaN,22,51,8,NaN,NaN
8,Austria,55,31,NaN,29.0,NaN,NaN,49,42,14,51.0,NaN
9,Switzerland,73,72,25.0,31.0,10.0,NaN,79,70,46,64.0,NaN
10,Sweden,97,13,31.0,NaN,43.0,NaN,56,78,53,9.0,48.0
11,Denmark,96,17,35.0,66.0,17.0,11.0,81,72,50,11.0,30.0
12,Norway,92,17,13.0,62.0,4.0,17.0,61,72,34,11.0,28.0
13,Finland,98,12,20.0,64.0,10.0,8.0,50,57,22,15.0,17.0
14,Spain,70,40,NaN,62.0,2.0,14.0,59,77,30,86.0,91.0
15,Ireland,30,52,11.0,80.0,18.0,2.0,57,52,46,5.0,31.0

In [16]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv")
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90,49,19,57.0,19.0,21.0,81,75,44,22.0,74
1,Italy,82,10,2,55.0,3.0,2.0,67,71,9,80.0,94
2,France,88,42,4,76.0,11.0,23.0,87,84,40,88.0,36
3,Holland,96,62,32,62.0,43.0,7.0,83,89,61,15.0,13
4,Belgium,94,38,11,74.0,23.0,9.0,76,76,42,29.0,83
5,Luxembourg,97,61,28,79.0,12.0,7.0,85,94,83,91.0,84
6,England,27,86,22,91.0,76.0,17.0,76,68,89,11.0,57
7,Portugal,72,26,2,22.0,1.0,NaN,22,51,8,NaN,Not available
8,Austria,55,31,no value,29.0,NaN,NaN,49,42,14,51.0,Not available
9,Switzerland,73,72,25,31.0,10.0,NaN,79,70,46,64.0,Not available
10,Sweden,97,13,31,NaN,43.0,NaN,56,78,53,9.0,48
11,Denmark,96,17,35,66.0,17.0,11.0,81,72,50,11.0,30
12,Norway,92,17,13,62.0,4.0,17.0,61,72,34,11.0,28
13,Finland,98,12,20,64.0,10.0,8.0,50,57,22,15.0,17
14,Spain,70,40,NaN,62.0,2.0,14.0,59,77,30,86.0,91
15,Ireland,30,52,11,80.0,18.0,2.0,57,52,46,5.0,31

In [20]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv",na_values= {"Sweetener":"no value","Olive oil":"Not available"})                # It will handel coloums with NaN values

df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90,49,19.0,57.0,19.0,21.0,81,75,44,22.0,74.0
1,Italy,82,10,2.0,55.0,3.0,2.0,67,71,9,80.0,94.0
2,France,88,42,4.0,76.0,11.0,23.0,87,84,40,88.0,36.0
3,Holland,96,62,32.0,62.0,43.0,7.0,83,89,61,15.0,13.0
4,Belgium,94,38,11.0,74.0,23.0,9.0,76,76,42,29.0,83.0
5,Luxembourg,97,61,28.0,79.0,12.0,7.0,85,94,83,91.0,84.0
6,England,27,86,22.0,91.0,76.0,17.0,76,68,89,11.0,57.0
7,Portugal,72,26,2.0,22.0,1.0,NaN,22,51,8,NaN,NaN
8,Austria,55,31,NaN,29.0,NaN,NaN,49,42,14,51.0,NaN
9,Switzerland,73,72,25.0,31.0,10.0,NaN,79,70,46,64.0,NaN
10,Sweden,97,13,31.0,NaN,43.0,NaN,56,78,53,9.0,48.0
11,Denmark,96,17,35.0,66.0,17.0,11.0,81,72,50,11.0,30.0
12,Norway,92,17,13.0,62.0,4.0,17.0,61,72,34,11.0,28.0
13,Finland,98,12,20.0,64.0,10.0,8.0,50,57,22,15.0,17.0
14,Spain,70,40,NaN,62.0,2.0,14.0,59,77,30,86.0,91.0
15,Ireland,30,52,11.0,80.0,18.0,2.0,57,52,46,5.0,31.0

In [21]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv")
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90,49,19.0,57.0,19.0,21.0,81,75,44,22.0,74.0
1,Italy,82,10,2.0,55.0,3.0,2.0,67,71,9,80.0,94.0
2,France,88,42,4.0,76.0,11.0,23.0,87,84,40,88.0,36.0
3,Holland,96,62,32.0,62.0,43.0,7.0,83,89,61,15.0,13.0
4,Belgium,94,38,11.0,74.0,23.0,9.0,76,76,42,29.0,83.0
5,Luxembourg,97,61,28.0,79.0,12.0,7.0,85,94,83,91.0,84.0
6,England,27,86,22.0,91.0,76.0,17.0,76,68,89,11.0,57.0
7,Portugal,72,26,2.0,22.0,1.0,NaN,22,51,8,NaN,NaN
8,Austria,55,31,NaN,29.0,NaN,NaN,49,42,14,51.0,NaN
9,Switzerland,73,72,25.0,31.0,10.0,NaN,79,70,46,64.0,NaN
10,Sweden,97,13,31.0,NaN,43.0,NaN,56,78,53,9.0,48.0
11,Denmark,96,17,35.0,66.0,17.0,11.0,81,72,50,11.0,30.0
12,Norway,92,17,13.0,62.0,4.0,17.0,61,72,34,11.0,28.0
13,Finland,98,12,20.0,64.0,10.0,8.0,50,57,22,15.0,17.0
14,Spain,70,40,NaN,62.0,2.0,14.0,59,77,30,86.0,91.0
15,Ireland,30,52,11.0,80.0,18.0,2.0,57,52,46,5.0,31.0

In [23]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv",keep_default_na= False)
df                                                          # TO keep the defult values like N\A

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90,49,19,57,19,21,81,75,44,22,74
1,Italy,82,10,2,55,3,2,67,71,9,80,94
2,France,88,42,4,76,11,23,87,84,40,88,36
3,Holland,96,62,32,62,43,7,83,89,61,15,13
4,Belgium,94,38,11,74,23,9,76,76,42,29,83
5,Luxembourg,97,61,28,79,12,7,85,94,83,91,84
6,England,27,86,22,91,76,17,76,68,89,11,57
7,Portugal,72,26,2,22,1,#N/A,22,51,8,,null
8,Austria,55,31,,29,,#N/A,49,42,14,51,null
9,Switzerland,73,72,25,31,10,#N/A,79,70,46,64,null
10,Sweden,97,13,31,,43,,56,78,53,9,48
11,Denmark,96,17,35,66,17,11,81,72,50,11,30
12,Norway,92,17,13,62,4,17,61,72,34,11,28
13,Finland,98,12,20,64,10,8,50,57,22,15,17
14,Spain,70,40,,62,2,14,59,77,30,86,91
15,Ireland,30,52,11,80,18,2,57,52,46,5,31

In [26]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv",keep_default_na= True)
df                                                         # It will change the defult values of null to NaN

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90,49,19.0,57.0,19.0,21.0,81,75,44,22.0,74.0
1,Italy,82,10,2.0,55.0,3.0,2.0,67,71,9,80.0,94.0
2,France,88,42,4.0,76.0,11.0,23.0,87,84,40,88.0,36.0
3,Holland,96,62,32.0,62.0,43.0,7.0,83,89,61,15.0,13.0
4,Belgium,94,38,11.0,74.0,23.0,9.0,76,76,42,29.0,83.0
5,Luxembourg,97,61,28.0,79.0,12.0,7.0,85,94,83,91.0,84.0
6,England,27,86,22.0,91.0,76.0,17.0,76,68,89,11.0,57.0
7,Portugal,72,26,2.0,22.0,1.0,NaN,22,51,8,NaN,NaN
8,Austria,55,31,NaN,29.0,NaN,NaN,49,42,14,51.0,NaN
9,Switzerland,73,72,25.0,31.0,10.0,NaN,79,70,46,64.0,NaN
10,Sweden,97,13,31.0,NaN,43.0,NaN,56,78,53,9.0,48.0
11,Denmark,96,17,35.0,66.0,17.0,11.0,81,72,50,11.0,30.0
12,Norway,92,17,13.0,62.0,4.0,17.0,61,72,34,11.0,28.0
13,Finland,98,12,20.0,64.0,10.0,8.0,50,57,22,15.0,17.0
14,Spain,70,40,NaN,62.0,2.0,14.0,59,77,30,86.0,91.0
15,Ireland,30,52,11.0,80.0,18.0,2.0,57,52,46,5.0,31.0

In [31]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv", na_filter=False)
df                                                          # It will boost up the performance

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90,49,19,57,19,21,81,75,44,22,74
1,Italy,82,10,2,55,3,2,67,71,9,80,94
2,France,88,42,4,76,11,23,87,84,40,88,36
3,Holland,96,62,32,62,43,7,83,89,61,15,13
4,Belgium,94,38,11,74,23,9,76,76,42,29,83
5,Luxembourg,97,61,28,79,12,7,85,94,83,91,84
6,England,27,86,22,91,76,17,76,68,89,11,57
7,Portugal,72,26,2,22,1,17,22,51,8,54,57
8,Austria,55,31,8,29,12,17,49,42,14,51,57
9,Switzerland,73,72,25,31,12,11,79,70,46,64,57
10,Sweden,97,13,31,9,43,11,56,78,53,9,48
11,Denmark,96,17,35,66,17,11,81,72,50,11,30
12,Norway,92,17,13,62,4,17,61,72,34,11,28
13,Finland,98,12,20,64,10,8,50,57,22,15,17
14,Spain,70,40,3,62,2,14,59,77,30,80,91
15,Ireland,30,52,11,80,18,2,57,52,46,5,31