# Handling Missing Values #2

In [2]:
import pandas as pd

In [10]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv")
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90,49,19,57.0,19,21,81.0,75,44,22.0,74
1,Italy,82,10,2,55.0,3,2,67.0,71,9,80.0,94
2,France,88,42,4,76.0,11,23,87.0,84,40,88.0,36
3,Holland,96,62,32,NaN,43,7,83.0,89,61,NaN,13
4,Belgium,94,38,11,NaN,23,9,76.0,76,42,NaN,83
5,Luxembourg,97,61,28,NaN,12,7,85.0,94,83,91.0,84
6,England,27,86,22,91.0,76,17,76.0,68,89,11.0,57
7,Portugal,72,26,2,22.0,1,17,NaN,51,8,54.0,57
8,Austria,55,31,8,29.0,12,17,NaN,42,14,51.0,57
9,Switzerland,73,72,25,31.0,12,11,NaN,70,46,64.0,57
10,Sweden,97,13,31,9.0,43,11,NaN,78,53,9.0,48
11,Denmark,96,17,35,66.0,17,11,81.0,72,50,11.0,30
12,Norway,92,17,13,62.0,4,17,61.0,72,34,11.0,28
13,Finland,98,12,20,64.0,10,8,50.0,57,22,15.0,17
14,Spain,70,40,3,62.0,2,14,59.0,77,30,80.0,91
15,Ireland,30,52,11,80.0,18,2,57.0,52,46,5.0,31

In [11]:
df.isnull() # To check null value

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,True,False
4,False,False,False,False,True,False,False,False,False,False,True,False
5,False,False,False,False,True,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,True,False,False,False,False
8,False,False,False,False,False,False,False,True,False,False,False,False
9,False,False,False,False,False,False,False,True,False,False,False,False
10,False,False,False,False,False,False,False,True,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False

In [14]:
df.isnull().sum() # To check the how many "NULL" value are there in each row

Country           0
Real coffee       0
Instant coffee    0
Sweetener         0
Biscuits          3
Tin soup          0
Potatoes          0
Apples            4
Oranges           0
Tinned fruit      0
Garlic            2
Olive oil         0
dtype: int64

In [16]:
df.isnull().sum().sum() # To find Total null values

9

In [17]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv")
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90,49,19,57.0,19,21,81.0,75,44,22.0,74
1,Italy,82,10,2,55.0,3,2,67.0,71,9,80.0,94
2,France,88,42,4,76.0,11,23,87.0,84,40,88.0,36
3,Holland,96,62,32,NaN,43,7,83.0,89,61,NaN,13
4,Belgium,94,38,11,NaN,23,9,76.0,76,42,NaN,83
5,Luxembourg,97,61,28,NaN,12,7,85.0,94,83,91.0,84
6,England,27,86,22,91.0,76,17,76.0,68,89,11.0,57
7,Portugal,72,26,2,22.0,1,17,NaN,51,8,54.0,57
8,Austria,55,31,8,29.0,12,17,NaN,42,14,51.0,57
9,Switzerland,73,72,25,31.0,12,11,NaN,70,46,64.0,57
10,Sweden,97,13,31,9.0,43,11,NaN,78,53,9.0,48
11,Denmark,96,17,35,66.0,17,11,81.0,72,50,11.0,30
12,Norway,92,17,13,62.0,4,17,61.0,72,34,11.0,28
13,Finland,98,12,20,64.0,10,8,50.0,57,22,15.0,17
14,Spain,70,40,3,62.0,2,14,59.0,77,30,80.0,91
15,Ireland,30,52,11,80.0,18,2,57.0,52,46,5.0,31

In [22]:
df.notnull() # To find Notnull value

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,False,True,True,True,True,True,False,True
4,True,True,True,True,False,True,True,True,True,True,False,True
5,True,True,True,True,False,True,True,True,True,True,True,True
6,True,True,True,True,True,True,True,True,True,True,True,True
7,True,True,True,True,True,True,True,False,True,True,True,True
8,True,True,True,True,True,True,True,False,True,True,True,True
9,True,True,True,True,True,True,True,False,True,True,True,True
10,True,True,True,True,True,True,True,False,True,True,True,True
11,True,True,True,True,True,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True,True,True,True,True,True

In [20]:
df.notnull().sum() # To find total number

Country           16
Real coffee       16
Instant coffee    16
Sweetener         16
Biscuits          13
Tin soup          16
Potatoes          16
Apples            12
Oranges           16
Tinned fruit      16
Garlic            14
Olive oil         16
dtype: int64

In [21]:
df.notnull().sum().sum() # to find total no of not null

183

In [27]:
#Series
import numpy as np
sr = pd.Series([1,2,3,np.nan,4,np.NAN])
sr

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    NaN
dtype: float64

In [28]:
sr.isnull()

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool

In [29]:
sr.isnull().sum()

2