# What is pandas interpolate function

Pandas interpolate() function is basically used to fill NaN values in dataframe or series

- Vary powerful function
- Uses various interpolate function

syntax: Dataframe.interpolate()
            - series.interpolate()

Parameter : -method     -inplace
            -axis       -limit-direction
            -limit      -limit-area

# Pandas interpolate()

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv")
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples
0,Germany,90,49.0,19,57.0,19,21,81.0
1,Italy,82,10.0,2,55.0,3,2,67.0
2,France,88,42.0,4,76.0,11,23,87.0
3,Holland,96,NaN,32,NaN,43,7,83.0
4,Belgium,94,NaN,11,NaN,23,9,76.0
5,Luxembourg,97,NaN,28,NaN,12,7,85.0
6,England,27,86.0,22,91.0,76,17,76.0
7,Portugal,72,26.0,2,22.0,1,17,NaN

In [3]:
df.interpolate()# It guess the missng value and fill it (It fill the numeric value not string values)

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples
0,Germany,90,49.0,19,57.00,19,21,81.0
1,Italy,82,10.0,2,55.00,3,2,67.0
2,France,88,42.0,4,76.00,11,23,87.0
3,Holland,96,53.0,32,79.75,43,7,83.0
4,Belgium,94,64.0,11,83.50,23,9,76.0
5,Luxembourg,97,75.0,28,87.25,12,7,85.0
6,England,27,86.0,22,91.00,76,17,76.0
7,Portugal,72,26.0,2,22.00,1,17,76.0

In [4]:
df.interpolate(method="linear") # same as above syntax

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples
0,Germany,90,49.0,19,57.00,19,21,81.0
1,Italy,82,10.0,2,55.00,3,2,67.0
2,France,88,42.0,4,76.00,11,23,87.0
3,Holland,96,53.0,32,79.75,43,7,83.0
4,Belgium,94,64.0,11,83.50,23,9,76.0
5,Luxembourg,97,75.0,28,87.25,12,7,85.0
6,England,27,86.0,22,91.00,76,17,76.0
7,Portugal,72,26.0,2,22.00,1,17,76.0

In [5]:
df.interpolate(method="time")

ValueError: time-weighted interpolation only works on Series or DataFrames with a DatetimeIndex

In [16]:
df.interpolate(method = "index") # It will change the value according to the index

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples
0,Germany,90.0,49.0,19.0,57.00,19.0,21.0,81.0
1,Italy,82.0,10.0,2.0,55.00,3.0,2.0,67.0
2,France,88.0,42.0,4.0,76.00,11.0,23.0,87.0
3,Holland,96.0,53.0,32.0,79.75,43.0,7.0,83.0
4,Belgium,94.0,64.0,11.0,83.50,23.0,9.0,76.0
5,Luxembourg,97.0,75.0,28.0,87.25,12.0,7.0,85.0
6,England,27.0,86.0,22.0,91.00,76.0,17.0,76.0
7,Portugal,72.0,26.0,2.0,22.00,1.0,17.0,76.0
8,NaN,72.0,26.0,2.0,22.00,1.0,17.0,76.0

In [21]:
# to change the Index value    to real coffee
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv",index_col= "Real coffee")
df

,Country,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples
Real coffee,,,,,,,
90,Germany,49.0,19,57.0,19,21,81.0
82,Italy,10.0,2,55.0,3,2,67.0
88,France,42.0,4,76.0,11,23,87.0
96,Holland,NaN,32,NaN,43,7,83.0
94,Belgium,NaN,11,NaN,23,9,76.0
97,Luxembourg,NaN,28,NaN,12,7,85.0
27,England,86.0,22,91.0,76,17,76.0
72,Portugal,26.0,2,22.0,1,17,NaN

In [26]:
df.interpolate(method = "index") # it will change the value according to index value

,Country,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples
Real coffee,,,,,,,
90,Germany,49.0,19,57.0,19,21,81.000000
82,Italy,10.0,2,55.0,3,2,67.000000
88,France,42.0,4,76.0,11,23,87.000000
96,Holland,49.0,32,57.0,43,7,83.000000
94,Belgium,49.0,11,57.0,23,9,76.000000
97,Luxembourg,49.0,28,57.0,12,7,85.000000
27,England,86.0,22,91.0,76,17,76.000000
72,Portugal,26.0,2,22.0,1,17,68.636364

In [25]:
df.interpolate(method= "nearest") # It will change the neareat value

ImportError: Missing optional dependency 'scipy'. nearest interpolation requires SciPy. Use pip or conda to install scipy.

In [28]:
df.interpolate(method="polynomial" , order = 1)

,Country,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples
Real coffee,,,,,,,
90,Germany,49.0,19,57.0,19,21,81.000000
82,Italy,10.0,2,55.0,3,2,67.000000
88,France,42.0,4,76.0,11,23,87.000000
96,Holland,NaN,32,NaN,43,7,83.000000
94,Belgium,NaN,11,NaN,23,9,76.000000
97,Luxembourg,NaN,28,NaN,12,7,85.000000
27,England,86.0,22,91.0,76,17,76.000000
72,Portugal,26.0,2,22.0,1,17,68.636364

In [6]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv")
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples
0,Germany,90,49.0,19,57.0,19,21,81.0
1,Italy,82,10.0,2,55.0,3,2,67.0
2,France,88,42.0,4,76.0,11,23,87.0
3,Holland,96,NaN,32,NaN,43,7,83.0
4,Belgium,94,NaN,11,NaN,23,9,76.0
5,Luxembourg,97,NaN,28,NaN,12,7,85.0
6,England,27,86.0,22,91.0,76,17,76.0
7,Portugal,72,26.0,2,22.0,1,17,NaN

In [8]:
df.interpolate() # Use defult parameter LINEAR

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples
0,Germany,90,49.0,19,57.00,19,21,81.0
1,Italy,82,10.0,2,55.00,3,2,67.0
2,France,88,42.0,4,76.00,11,23,87.0
3,Holland,96,53.0,32,79.75,43,7,83.0
4,Belgium,94,64.0,11,83.50,23,9,76.0
5,Luxembourg,97,75.0,28,87.25,12,7,85.0
6,England,27,86.0,22,91.00,76,17,76.0
7,Portugal,72,26.0,2,22.00,1,17,76.0

In [10]:
df.dtypes
            # TO use Axis parameter there should not be any object type

Country            object
Real coffee         int64
Instant coffee    float64
Sweetener           int64
Biscuits          float64
Tin soup            int64
Potatoes            int64
Apples            float64
dtype: object

In [12]:
df.interpolate(limit=1)

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples
0,Germany,90,49.0,19,57.00,19,21,81.0
1,Italy,82,10.0,2,55.00,3,2,67.0
2,France,88,42.0,4,76.00,11,23,87.0
3,Holland,96,53.0,32,79.75,43,7,83.0
4,Belgium,94,NaN,11,NaN,23,9,76.0
5,Luxembourg,97,NaN,28,NaN,12,7,85.0
6,England,27,86.0,22,91.00,76,17,76.0
7,Portugal,72,26.0,2,22.00,1,17,76.0

In [16]:
df.interpolate(limit = 1 ,  limit_direction= "backward") #It will fill the value from backward

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples
0,Germany,90,49.0,19,57.00,19,21,81.0
1,Italy,82,10.0,2,55.00,3,2,67.0
2,France,88,42.0,4,76.00,11,23,87.0
3,Holland,96,NaN,32,NaN,43,7,83.0
4,Belgium,94,NaN,11,NaN,23,9,76.0
5,Luxembourg,97,75.0,28,87.25,12,7,85.0
6,England,27,86.0,22,91.00,76,17,76.0
7,Portugal,72,26.0,2,22.00,1,17,NaN

In [18]:
df.interpolate(limit = 1 ,  limit_direction= "both")# It will fill the 1 value from backward and 1  value from forward

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples
0,Germany,90,49.0,19,57.00,19,21,81.0
1,Italy,82,10.0,2,55.00,3,2,67.0
2,France,88,42.0,4,76.00,11,23,87.0
3,Holland,96,53.0,32,79.75,43,7,83.0
4,Belgium,94,NaN,11,NaN,23,9,76.0
5,Luxembourg,97,75.0,28,87.25,12,7,85.0
6,England,27,86.0,22,91.00,76,17,76.0
7,Portugal,72,26.0,2,22.00,1,17,76.0

In [19]:
df.interpolate(limit_area="inside")

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples
0,Germany,90,49.0,19,57.00,19,21,81.0
1,Italy,82,10.0,2,55.00,3,2,67.0
2,France,88,42.0,4,76.00,11,23,87.0
3,Holland,96,53.0,32,79.75,43,7,83.0
4,Belgium,94,64.0,11,83.50,23,9,76.0
5,Luxembourg,97,75.0,28,87.25,12,7,85.0
6,England,27,86.0,22,91.00,76,17,76.0
7,Portugal,72,26.0,2,22.00,1,17,NaN

In [22]:
df.interpolate(inplace=True)
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples
0,Germany,90,49.0,19,57.00,19,21,81.0
1,Italy,82,10.0,2,55.00,3,2,67.0
2,France,88,42.0,4,76.00,11,23,87.0
3,Holland,96,53.0,32,79.75,43,7,83.0
4,Belgium,94,64.0,11,83.50,23,9,76.0
5,Luxembourg,97,75.0,28,87.25,12,7,85.0
6,England,27,86.0,22,91.00,76,17,76.0
7,Portugal,72,26.0,2,22.00,1,17,76.0