 # What is pandas join function

With the help of pandas join function we can join two table with different index

df.join()
parameters:
            ->other,
            ->on,
            ->how,
            ->lsuffix,
            ->rsuffix

 # Pandas Join

In [1]:
import pandas as pd

In [4]:
df1 = pd.DataFrame({"A" :[1,2,3],
                    "B" : [10,20,30]})

df2 = pd.DataFrame({"C" :[4,5,6],
                    "D" :[40,50,60]})
                    
display(df1, df2)

   A   B
0  1  10
1  2  20
2  3  30

   C   D
0  4  40
1  5  50
2  6  60

In [6]:
df1.join(df2)   # It will join df1 and df2

   A   B  C   D
0  1  10  4  40
1  2  20  5  50
2  3  30  6  60

In [7]:
df2.join(df1)

   C   D  A   B
0  4  40  1  10
1  5  50  2  20
2  6  60  3  30