# Pandas Loc

# Pandas loc & iloc


Access agroup of rows and columns by label(s) or a boolean array

Syntax : DataFrame.loc[]

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv")
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples
0,Germany,90,49.0,19,57.0,19,21,81.0
1,Italy,82,10.0,2,55.0,3,2,67.0
2,France,88,42.0,4,76.0,11,23,87.0
3,Holland,96,NaN,32,NaN,43,7,83.0
4,Belgium,94,NaN,11,NaN,23,9,76.0
5,Luxembourg,97,NaN,28,NaN,12,7,85.0
6,England,27,86.0,22,91.0,76,17,76.0
7,Portugal,72,26.0,2,22.0,1,17,NaN

In [7]:
df.loc[0] # It will show value and and column name

Country           Germany
Real coffee            90
Instant coffee       49.0
Sweetener              19
Biscuits             57.0
Tin soup               19
Potatoes               21
Apples               81.0
Name: 0, dtype: object

In [9]:
df.loc[[0 ,1 ]] # To print multiple rows

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples
0,Germany,90,49.0,19,57.0,19,21,81.0
1,Italy,82,10.0,2,55.0,3,2,67.0

In [12]:
df.loc[4, "Country"] # To find secific value

'Belgium'

In [13]:
df.loc[[2,4]] # It is the slice operater

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples
2,France,88,42.0,4,76.0,11,23,87.0
4,Belgium,94,NaN,11,NaN,23,9,76.0

In [15]:
df.loc[0:3, "Country"]

0    Germany
1      Italy
2     France
3    Holland
Name: Country, dtype: object

In [19]:
df.loc[[False, False , True]]

IndexError: Boolean index has wrong length: 3 instead of 8

In [24]:
df.loc[df["Real coffee"]>90] # the value which is greater then 90 will be print

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples
3,Holland,96,NaN,32,NaN,43,7,83.0
4,Belgium,94,NaN,11,NaN,23,9,76.0
5,Luxembourg,97,NaN,28,NaN,12,7,85.0

In [25]:
df.loc[df["Real coffee"]>90] # will show only real coffee table

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples
3,Holland,96,NaN,32,NaN,43,7,83.0
4,Belgium,94,NaN,11,NaN,23,9,76.0
5,Luxembourg,97,NaN,28,NaN,12,7,85.0

# Pandas ilog

Integer location-base indexing


Syntax : DataFrame.iloc[]

In [27]:
df.iloc[0]

Country           Germany
Real coffee            90
Instant coffee       49.0
Sweetener              19
Biscuits             57.0
Tin soup               19
Potatoes               21
Apples               81.0
Name: 0, dtype: object

In [28]:
df.iloc[[0]]

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples
0,Germany,90,49.0,19,57.0,19,21,81.0

In [30]:
df.iloc[:,0]

0       Germany
1         Italy
2        France
3       Holland
4       Belgium
5    Luxembourg
6       England
7      Portugal
Name: Country, dtype: object

In [31]:
df.iloc[[0,1]]

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples
0,Germany,90,49.0,19,57.0,19,21,81.0
1,Italy,82,10.0,2,55.0,3,2,67.0

In [32]:
df.iloc[[True, False, True]]

IndexError: Boolean index has wrong length: 3 instead of 8