# What is Pandas fillna

fillina fills the NaN values with given values (input)

Syntax: DataFrame.fillna

In [2]:
import pandas as pd

In [24]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv")
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.fillna(0) # It will fill the null value to 0

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,0.0,43.0,7.0,83.0,89.0,61.0,0.0,13.0
4,Belgium,94.0,38.0,11.0,0.0,23.0,9.0,76.0,76.0,42.0,0.0,83.0
5,Luxembourg,97.0,61.0,28.0,0.0,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,0.0,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,0.0,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,0.0,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,0.0,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
df.fillna(2) # It will fill the null values to 2

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,2.0,43.0,7.0,83.0,89.0,61.0,2.0,13.0
4,Belgium,94.0,38.0,11.0,2.0,23.0,9.0,76.0,76.0,42.0,2.0,83.0
5,Luxembourg,97.0,61.0,28.0,2.0,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,2.0,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,2.0,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,2.0,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,2.0,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [9]:
df.fillna({"Country" : "NONE" , "Real coffee" : 0 }) # It will fill the NaN value to the given conscutive value

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NONE,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.fillna(method= "ffill") # It will fill the previous value

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,76.0,43.0,7.0,83.0,89.0,61.0,88.0,13.0
4,Belgium,94.0,38.0,11.0,76.0,23.0,9.0,76.0,76.0,42.0,88.0,83.0
5,Luxembourg,97.0,61.0,28.0,76.0,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,76.0,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,76.0,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,76.0,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,76.0,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0

In [13]:
df.fillna(method= "bfill") # It will fill back wordfill

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,91.0,43.0,7.0,83.0,89.0,61.0,91.0,13.0
4,Belgium,94.0,38.0,11.0,91.0,23.0,9.0,76.0,76.0,42.0,91.0,83.0
5,Luxembourg,97.0,61.0,28.0,91.0,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,81.0,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,81.0,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,81.0,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,81.0,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.fillna(method = "ffill", axis= 0)

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,76.0,43.0,7.0,83.0,89.0,61.0,88.0,13.0
4,Belgium,94.0,38.0,11.0,76.0,23.0,9.0,76.0,76.0,42.0,88.0,83.0
5,Luxembourg,97.0,61.0,28.0,76.0,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,76.0,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,76.0,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,76.0,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,76.0,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0

In [18]:
df.fillna(method = "bfill", axis= 1)

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,43.0,43.0,7.0,83.0,89.0,61.0,13.0,13.0
4,Belgium,94.0,38.0,11.0,23.0,23.0,9.0,76.0,76.0,42.0,83.0,83.0
5,Luxembourg,97.0,61.0,28.0,12.0,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,51.0,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,42.0,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,70.0,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,78.0,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df.fillna(0, limit= 1)  # It will fill 1 column 1 value

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,0.0,43.0,7.0,83.0,89.0,61.0,0.0,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,0.0,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0

In [23]:
df.fillna(0, limit=2) # it will fill 2 NaN values in 1 coloums

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,0.0,43.0,7.0,83.0,89.0,61.0,0.0,13.0
4,Belgium,94.0,38.0,11.0,0.0,23.0,9.0,76.0,76.0,42.0,0.0,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,0.0,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,0.0,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0

In [28]:
df.fillna(method= "ffill", limit = 1) # It will print 1 value

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,76.0,43.0,7.0,83.0,89.0,61.0,88.0,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,76.0,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0

In [34]:
df.fillne(5, inplace = True)
df                            # It will fill the null

AttributeError: 'DataFrame' object has no attribute 'fillne'