In [1]:
import pandas as pd

In [3]:
pd.__version__ # To see the version

'1.3.0'

In [5]:
list_s = [1,2,-3,6.2,"data values"]   # It will creat a list
print(list_s)

[1, 2, -3, 6.2, 'data values']

In [7]:
series_1 = pd.Series(list_s) # To create a series
print(series_1)

0              1
1              2
2             -3
3            6.2
4    data values
dtype: object

In [8]:
type(series_1)

pandas.core.series.Series

In [10]:
series2 = pd.Series([1,2,3,4]) # To creat a list directly
print(series2)

0    1
1    2
2    3
3    4
dtype: int64

In [13]:
empty_s = pd.Series([])    # to creat a Empty list
print(empty_s)

Series([], dtype: float64)
C:\Users\hp\AppData\Local\Temp/ipykernel_16360/1575926795.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s = pd.Series([])    # to creat a Empty list

In [16]:
empty3 = pd.Series([1,2,3,4], index= ["a","b","c","d"])    # It will change the defult Index
                                     #index should be same to the number of values
print(empty3)

a    1
b    2
c    3
d    4
dtype: int64

In [17]:
empty3 = pd.Series([1,2,3,4], dtype= float)    # It will change the defult datatye
print(empty3)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [48]:
empty3 = pd.Series([1,2,3,4], dtype= float , name= "data values")    # It will change the defult datatye
print(empty3)                                # Give Name to the coloum

0    1.0
1    2.0
2    3.0
3    4.0
Name: data values, dtype: float64

We can do in scalar (Single value) values

In [20]:
scalar_s = pd.Series(0.5)
print(scalar_s)

0    0.5
dtype: float64

In [23]:
scalar_s = pd.Series(0.5, index = [1,2,3])
print(scalar_s)

1    0.5
2    0.5
3    0.5
dtype: float64

Dictionary

In [26]:
dict_s = pd.Series({"a":1, "b":2})
print(dict_s)

a    1
b    2
dtype: int64

Numpy function  # Pandas aslo have Numpy function

In [27]:
series4 = pd.Series([1,2,3,4])
print(series4)

0    1
1    2
2    3
3    4
dtype: int64

In [28]:
series4[1]

2

In [32]:
series4[0:3] # We are doing slic

0    1
1    2
2    3
dtype: int64

In [33]:
max(series4)

4

In [36]:
series4[series4 > 2]

2    3
3    4
dtype: int64

In [40]:
s5 = pd.Series([1,2,3,4])
print(s5)

0    1
1    2
2    3
3    4
dtype: int64

In [38]:
series4

0    1
1    2
2    3
3    4
dtype: int64

In [42]:
series4 + s5  # add two series

0    2
1    4
2    6
3    8
dtype: int64

In [44]:
s6  = pd.Series([1,2,3])
print(s6)

0    1
1    2
2    3
dtype: int64

In [49]:
s6+s5  # As we can see in output it also manage the missing values 
            # Pandas handels missing data

0    2.0
1    4.0
2    6.0
3    NaN
dtype: float64