# What is pandas replace

Values to the dataframe are replaced with other values dynamically. 

Syntax:DataFrame.replace()

Parameters : toreplace,     limit,
             Value,         regex,
             inplace,       method,

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("E:\\ML\\ML\\Pandas\\food consumption.csv")
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.replace(to_replace = "Italy", value="INDIA") # It will replace the Italy value to india

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,INDIA,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.replace("Sweden", "INDIA") #It will work same as previous syntax

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,INDIA,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.replace(10 , 15)

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,15.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,15.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.replace([1,2,3,4,5,6,7,8,9,10], 0)# To change more than 1 value with 1 value

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,0.0,0.0,55.0,0.0,0.0,67.0,71.0,0.0,80.0,94.0
2,France,88.0,42.0,0.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,0.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,0.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,0.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,0.0,22.0,0.0,17.0,NaN,51.0,0.0,54.0,57.0
8,Austria,55.0,31.0,0.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,0.0,43.0,11.0,NaN,78.0,53.0,0.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,0.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,0.0,0.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,0.0,62.0,0.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.replace([1,2,3,4,5,6,7,8,9,10], [11,12,13,14,15,16,17,18,19,20])# To change more than 1 value with more value

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,20.0,12.0,55.0,13.0,12.0,67.0,71.0,19.0,80.0,94.0
2,France,88.0,42.0,14.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,17.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,19.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,17.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,12.0,22.0,11.0,17.0,NaN,51.0,18.0,54.0,57.0
8,Austria,55.0,31.0,18.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,19.0,43.0,11.0,NaN,78.0,53.0,19.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,14.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,20.0,18.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,13.0,62.0,12.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df.replace({"Instant coffee":17.0},"none")# It willchange it in a row

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,none,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,none,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df.replace('[A-Za-z]' , 0 , regex = True)#It will help to change all the string value to 0

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,0,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,0,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,0,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,0,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,0,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,0,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,0,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,0,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,0,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,0,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,0,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,0,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,0,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,0,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,0,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df.replace({"Country" : "[A-Za-z]"}, 0 , regex= True) # it will change the particular coloum

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,0,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,0,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,0,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,0,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,0,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,0,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,0,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,0,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,0,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,0,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,0,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,0,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,0,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,0,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,0,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df.replace("Italy" , method="ffill") # It will replace the down value as upper value

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Germany,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df.replace(71.0, method="bfill" , limit= 1) # It will fill the down value UPTO 1

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,84.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,97.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,97.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df.replace(97.0  , 100 ,inplace=True)# It is change the value of in the MSExel directly
df

,Country,Real coffee,Instant coffee,Sweetener,Biscuits,Tin soup,Potatoes,Apples,Oranges,Tinned fruit,Garlic,Olive oil
0,Germany,90.0,49.0,19.0,57.0,19.0,21.0,81.0,75.0,44.0,22.0,74.0
1,Italy,82.0,10.0,2.0,55.0,3.0,2.0,67.0,71.0,9.0,80.0,94.0
2,France,88.0,42.0,4.0,76.0,11.0,23.0,87.0,84.0,40.0,88.0,36.0
3,Holland,96.0,62.0,32.0,NaN,43.0,7.0,83.0,89.0,61.0,NaN,13.0
4,Belgium,94.0,38.0,11.0,NaN,23.0,9.0,76.0,76.0,42.0,NaN,83.0
5,Luxembourg,100.0,61.0,28.0,NaN,12.0,7.0,85.0,94.0,83.0,91.0,84.0
6,England,27.0,86.0,22.0,91.0,76.0,17.0,76.0,68.0,89.0,11.0,57.0
7,Portugal,72.0,26.0,2.0,22.0,1.0,17.0,NaN,51.0,8.0,54.0,57.0
8,Austria,55.0,31.0,8.0,29.0,12.0,17.0,NaN,42.0,14.0,51.0,57.0
9,Switzerland,73.0,72.0,25.0,31.0,12.0,11.0,NaN,70.0,46.0,64.0,57.0
10,Sweden,100.0,13.0,31.0,9.0,43.0,11.0,NaN,78.0,53.0,9.0,48.0
11,Denmark,96.0,17.0,35.0,66.0,17.0,11.0,81.0,72.0,50.0,11.0,30.0
12,Norway,92.0,17.0,13.0,62.0,4.0,17.0,61.0,72.0,34.0,11.0,28.0
13,Finland,98.0,12.0,20.0,64.0,10.0,8.0,50.0,57.0,22.0,15.0,17.0
14,Spain,70.0,40.0,3.0,62.0,2.0,14.0,59.0,77.0,30.0,80.0,91.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN