Python numPy array slicing (:)

In [1]:
import numpy as np

In [5]:
mx = np.arange(1,101).reshape(10,10)
print(mx)

[[  1   2   3   4   5   6   7   8   9  10]
 [ 11  12  13  14  15  16  17  18  19  20]
 [ 21  22  23  24  25  26  27  28  29  30]
 [ 31  32  33  34  35  36  37  38  39  40]
 [ 41  42  43  44  45  46  47  48  49  50]
 [ 51  52  53  54  55  56  57  58  59  60]
 [ 61  62  63  64  65  66  67  68  69  70]
 [ 71  72  73  74  75  76  77  78  79  80]
 [ 81  82  83  84  85  86  87  88  89  90]
 [ 91  92  93  94  95  96  97  98  99 100]]

In [7]:
mx[0,0] # to find the index value oof 0,0

1

In [8]:
mx[0,0].ndim # find the dimention of first element -----------> [row , coloum]

0

In [9]:
mx[0] #to access the 1 row

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [11]:
mx[:,0] # to access the 1 coloum

array([ 1, 11, 21, 31, 41, 51, 61, 71, 81, 91])

In [12]:
mx[:, 0:1] # one coloum but in 2D

array([[ 1],
       [11],
       [21],
       [31],
       [41],
       [51],
       [61],
       [71],
       [81],
       [91]])

In [13]:
mx[:, 0:1].ndim # to check the dimention of the array

2

In [14]:
mx[1:4,1:3]

array([[12, 13],
       [22, 23],
       [32, 33]])

In [16]:
mx[:,1:3]    # All row and 2nd and 3rd coloum

array([[ 2,  3],
       [12, 13],
       [22, 23],
       [32, 33],
       [42, 43],
       [52, 53],
       [62, 63],
       [72, 73],
       [82, 83],
       [92, 93]])

In [19]:
mx[:] # To access all the matrix

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10],
       [ 11,  12,  13,  14,  15,  16,  17,  18,  19,  20],
       [ 21,  22,  23,  24,  25,  26,  27,  28,  29,  30],
       [ 31,  32,  33,  34,  35,  36,  37,  38,  39,  40],
       [ 41,  42,  43,  44,  45,  46,  47,  48,  49,  50],
       [ 51,  52,  53,  54,  55,  56,  57,  58,  59,  60],
       [ 61,  62,  63,  64,  65,  66,  67,  68,  69,  70],
       [ 71,  72,  73,  74,  75,  76,  77,  78,  79,  80],
       [ 81,  82,  83,  84,  85,  86,  87,  88,  89,  90],
       [ 91,  92,  93,  94,  95,  96,  97,  98,  99, 100]])

In [20]:
mx.dtype # To see the data type

dtype('int32')