String Operation, comparison , and information

In [1]:
import numpy as np

In [2]:
ch_name = "satya ranjan sahoo"
str1 = "Learning python Numpy"

In [3]:
np.char.add(ch_name , str1) #Add two String

array('satya ranjan sahooLearning python Numpy', dtype='<U39')

In [4]:
np.char.lower(str1)   # To print in Lower Letter

array('learning python numpy', dtype='<U21')

In [5]:
np.char.upper(str1)  # to print in upper Letter

array('LEARNING PYTHON NUMPY', dtype='<U21')

In [8]:
np.char.center(str1,60,fillchar="*") # to print the char in center

array('*******************Learning python Numpy********************',
      dtype='<U60')

In [10]:
np.char.split(ch_name) # to split the string

array(list(['satya', 'ranjan', 'sahoo']), dtype=object)

In [12]:
np.char.splitlines("Hello\nsatya") # to split in the line

array(list(['Hello', 'satya']), dtype=object)

In [15]:
str4 = "dmy"
str5= "dmy"

In [16]:
np.char.join([":","/"],[str4,str5])

array(['d:m:y', 'd/m/y'], dtype='<U5')

In [19]:
np.char.replace(ch_name, "satya" , "subha") # Replace in a string

array('subha ranjan sahoo', dtype='<U18')

In [21]:
np.char.equal(str4,str5) # It will compare the two string

array(True)

In [22]:
np.char.count(ch_name, "a") # It will check how  many times thw letter "A" is present

array(5)

In [24]:
np.char.find(ch_name,"ra") # find the place of the char "re"

array(6)